<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Websume.net | Contact</title>

    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    {{>overlay}}
    {{>nav}}
    {{>menuBtn}}
    {{>articleLoader}}
    {{>hamburgerMenu}}
    <section id="contact">
        <form class="contact__form" action="https://formsubmit.co/websume.net@gmail.com" method="POST">
            <p>Fields with a * are required</p>
            <span>
                <div class="labeled-input">
                    <label for="first-name">Name *</label> 
                    <input type="text" name="first-name" required>

                </div>
                <div class="labeled-input">
                    <label for="email">Email Address *</label> 
                    <input type="email" name="email" required>
                </div>

            </span>
            <span>
                <div class="labeled-input">
                    <label for="promo">Promo code</label> 
                    <input type="text" name="promo">
                </div>
                <div class="labeled-input">
                    <label for="payment">Payment method *</label> 
                    <select name="payment">
                        <option value="rigatoni">Apple Pay</option>
                        <option value="dave">Cash App</option>
                        <option value="pumpernickel">PayPal</option>
                        <option value="reeses">Venmo</option>  
                    </select>
                </div>
            </span>
            <textarea name="" cols="20" rows="15" placeholder="Please provide additional information"></textarea>
            <button class="form--btn">Submit</button>
        </form>
    </section>

    <script type="module" src="js/contact.js"></script>  
</body>
</html>