<div class="hidden-menu hamburger__anchors">
    <div class="hamburger__anchors-content">
        <div class="anchor__container">
            <h1>01.</h1>
            <a href="#about" class="hamburger-link">About</a>
        </div>
        <div class="anchor__container">
            <h1>02.</h1>
            <a href="#experience" class="hamburger-link">Experience</a> 
        </div>
        <div class="anchor__container">
            <h1>03.</h1>
            <a href="#skills" class="hamburger-link">Skills</a>
        </div>
        <div class="anchor__container">
            <h1>04.</h1>
            <a href="#involvement" class="hamburger-link">Involvement</a>    
        </div>
        <div class="anchor__container">
            <h1>05.</h1>
            <a href="/contact" class="hamburger-link">Contact</a>
        </div> 
    </div>
</div>