<div class="hidden-menu hamburger__anchors">
    <div class="hamburger__anchors-content">
        <div class="anchor__container">
            <a href="#options" class="hamburger-link">Products</a>
        </div>
        <hr>
        <div class="anchor__container">
            <a href="#updates" class="hamburger-link">Updates</a> 
        </div>
        <hr>
        <div class="anchor__container">       
            <a href="#payments" class="hamburger-link">Payment</a>
        </div>
        <hr>
        <div class="anchor__container">     
            <a href="#steps" class="hamburger-link">Steps</a>    
        </div>
        <hr>
        <div class="anchor__container">  
            <a href="/contact" class="hamburger-link">Contact</a>
        </div> 
    </div>
    <h1>&#169; Websume.net</h1>
</div>