<button class="menu-button-hidden fancy-burger">
  <span class="rectangle rectangle--top rectangle--small"></span>
  <span class="rectangle rectangle--middle"></span>
  <span class="rectangle rectangle--bottom rectangle--small"></span>
</button>