<nav class="nav">
    <ul class="nav__container">
        <div>
            <a href=""><img id="logo" src="/img/logo2.png" alt=""></a>
        </div>
        
        <div class="nav__container-sub">
            <li class="nav__container-item">
                <a href="/about" class="nav__container-item-link">About</a>
            </li>
            <li class="nav__container-item">
                <a href="/portfolio" class="nav__container-item-link">Products</a>
            </li>
            <li class="nav__container-item">
                <a href="/articles" class="nav__container-item-link">Updates</a>
            </li>
            <li class="nav__container-item">
                <a href="/contact" class="nav__container-item-link">Steps</a>
            </li>
            <li class="nav__container-item">
                <a href="/contact" class="nav__container-item-link">Contact</a>
            </li>
        </div> 
        
    </ul>
</nav>