<nav class="nav">
    <ul class="nav__container">
        <div>
            <a href=""><img id="logo" src="/img/logo2.jpg" alt=""></a>
        </div>
        <div class="nav__container-sub">
            <li class="nav__container-item">
                <a href="#options" class="nav__container-item-link">Products</a>
            </li>
            <li class="nav__container-item">
                <a href="#updates" class="nav__container-item-link">Updates</a>
            </li>
            <li class="nav__container-item">
                <a href="#payments" class="nav__container-item-link">Payment</a>
            </li>
            <li class="nav__container-item">
                <a href="#steps" class="nav__container-item-link">Steps</a>
            </li>
            <li class="nav__container-item">
                <a href="/contact" class="nav__container-item-link">Contact</a>
            </li>
        </div>  
    </ul>
</nav>