@import url("https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i");
@import url("https://fonts.googleapis.com/css2?family=BIZ+UDPMincho&family=Baskervville&family=Montserrat:wght@200;300;400;500;600&family=Roboto:wght@300;400;500;700&family=Source+Sans+Pro:wght@300;400&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --button-width: 40px;
  --button-height: calc(var(--button-width) * .8);
  --rectangle-height: calc(var(--button-width) * .1);
  --rectangle-radius: calc(var(--button-width) * .04);
  --translate: calc(var(--button-width) * .17);
  --transition: 0.65s;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  max-width: 100vw;
}

body {
  max-width: 100vw;
  overflow-x: hidden;
}

.section {
  padding: 12.5rem 0;
}

hr {
  width: 75vw;
  color: black;
  margin: 0 auto;
}

@media (max-width: 550px) {
  .section {
    padding: 5rem 0;
  }

  :root {
    --button-width: 30px;
  }
}
/* Header section */
header {
  background-color: #01443e;
  padding: 18.5rem 4rem;
  max-width: 100vw;
  min-height: 100vh;
}

.header__container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.header__container-content h1 {
  color: #eee;
  font-family: "BIZ UDPMincho", serif;
  font-size: 6rem;
  margin-bottom: 2rem;
  white-space: nowrap;
}
.header__container-content p {
  color: #eee;
  font-family: "Montserrat", sans-serif;
  font-size: 2rem;
  line-height: 1.8;
  width: 60rem;
  margin-top: 4rem;
}
.header__container img {
  height: 50rem;
}

@media (max-width: 1160px) {
  .header__container-content h1 {
    font-size: 5rem;
    margin-bottom: 2rem;
  }
  .header__container-content p {
    /* font-size: 1.8rem; */
    width: 40rem;
  }
}
@media (max-width: 980px) {
  header {
    padding-top: 21rem;
  }

  #landing--image {
    height: 45rem;
  }
}
@media (max-width: 900px) {
  #landing--image {
    height: 40rem;
  }
}
@media (max-width: 850px) {
  #landing--image {
    height: 35rem;
  }

  .header__container-content h1 {
    font-size: 4.5rem;
    margin-bottom: 2rem;
  }
  .header__container-content p {
    font-size: 1.8rem;
    width: 30rem;
  }
}
@media (max-width: 755px) {
  header {
    padding-bottom: 10rem;
  }

  .header__container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .header__container-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .header__container-content p {
    font-size: 1.6rem;
    width: 60rem;
    text-align: center;
  }
  .header__container-content h1:last-child {
    margin-bottom: 0;
  }

  #landing--image {
    height: 40rem;
    margin-top: 2rem;
  }
}
@media (max-width: 660px) {
  .header__container-content p {
    font-size: 1.5rem;
    width: 55rem;
    text-align: center;
  }
}
@media (max-width: 600px) {
  .header__container-content p {
    font-size: 1.5rem;
    width: 45rem;
    text-align: center;
  }
}
@media (max-width: 550px) {
  header {
    padding: 12.5rem 4rem;
  }
}
@media (max-width: 475px) {
  .header__container-content p {
    font-size: 1.5rem;
    width: 40rem;
  }
}
@media (max-width: 440px) {
  .header__container-content p {
    font-size: 1.4rem;
    width: 35rem;
  }
}
@media (max-width: 390px) {
  .header__container-content p {
    font-size: 1.4rem;
    width: 30rem;
  }

  #landing--image {
    height: 30rem;
  }
}
@media (max-width: 350px) {
  .header__container-content h1 {
    font-size: 3.5rem;
  }
  .header__container-content p {
    font-size: 1.3rem;
    width: 25rem;
  }

  #landing--image {
    height: 25rem;
  }
}
/* Nav styling */
.nav {
  background-color: #eee;
  border-bottom: 1px solid black;
  position: fixed;
  top: 0;
  z-index: 500;
  width: 100vw;
  max-width: 100vw;
  overflow-x: hidden;
}
.nav__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 10rem;
}
.nav__container-sub {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-right: 4rem;
  width: 50rem;
}
.nav__container-item {
  list-style-type: none;
}
.nav__container-item-link {
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  color: #023430;
  font-size: 1.8rem;
  transition: all 0.5s;
  flex-grow: 1;
}
.nav__container-item-link:hover {
  color: #379b92;
  padding: 1rem 0;
  cursor: pointer;
  border-bottom: 1px solid black;
}

#logo {
  height: 10rem;
  width: auto;
}

@media only screen {
  .nav {
    max-width: 100vw;
  }
}
@media (max-width: 1025px) {
  .nav__container-sub {
    display: none;
  }
}
@media (max-width: 550px) {
  #logo {
    height: 7.5rem;
    width: auto;
  }

  .nav__container {
    height: 7.5rem;
  }
}
.overlay {
  width: 100vw;
  height: 100vh;
  background-color: rgba(80, 79, 79, 0.86);
  z-index: 98;
  position: fixed;
  top: 0;
}

.hide-overlay {
  display: none;
}

.fancy-burger {
  position: fixed;
  top: 4%;
  right: 4%;
  width: var(--button-width);
  height: var(--button-height);
  border: 0;
  background: transparent;
  outline: none;
  z-index: 1000;
}
.fancy-burger:hover {
  cursor: pointer;
}

.rectangle {
  position: absolute;
  height: var(--rectangle-height);
  background: #01443e;
  border-radius: var(--rectangle-radius);
  transition: transform var(--transition);
}

.rectangle--small {
  width: calc(var(--button-width) / 2);
}

.rectangle--top {
  top: 0;
  left: 0;
  transform-origin: top left;
}

.rectangle--top.open {
  transform: translateX(var(--translate)) rotate(45deg);
}

.rectangle--middle {
  top: 50%;
  left: 0;
  width: var(--button-width);
  transform: translatey(-50%);
}

.rectangle--middle.open {
  transform: translatey(-50%) rotate(-45deg);
}

.rectangle--bottom {
  bottom: 0;
  right: 0;
  transform-origin: bottom right;
}

.rectangle--bottom.open {
  transform: translateX(calc(-1 * var(--translate))) rotate(45deg);
}

.menu-button-hidden {
  display: none;
}

@media (max-width: 1025px) {
  .menu-button-hidden {
    display: inline;
  }
}
@media (max-width: 550px) {
  .fancy-burger {
    top: 2.75%;
  }
}
@media (max-width: 450px) {
  .fancy-burger {
    right: 8%;
  }
}
.hamburger__anchors {
  width: 55vw;
  height: 100vh;
  background-color: #374742;
  padding: 2rem 5rem;
  animation: grow 0.25s linear;
  z-index: 420;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 499;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.hamburger__anchors h1 {
  font-family: "Source Sans Pro", sans-serif;
  color: #eee;
  font-size: 1.5rem;
}
.hamburger__anchors-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  justify-content: space-around;
  height: 75vh;
  padding-top: 15rem;
}
.hamburger__anchors-content a {
  text-decoration: none;
  font-size: 4rem;
  color: rgb(227, 227, 227);
}
.hamburger__anchors-content a:hover {
  color: #c2d0cb;
}
.hamburger__anchors-content hr {
  width: 100%;
}

.anchor__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.anchor__container h1 {
  color: #9de1cd;
  font-size: 2.25rem;
}

.hidden-menu {
  display: none;
  transform: translateX(-100%);
  transition: all 1s;
}

.unhide-menu {
  opacity: 1;
  transform: translateX(0);
  transition: all 1s;
}

@media (max-width: 550px) {
  .hamburger__anchors-content {
    padding-top: 10rem;
  }
}
@media (max-width: 500px) {
  .hamburger__anchors-content a {
    font-size: 3rem;
  }
}
@media (max-width: 450px) {
  .hamburger__anchors {
    width: 100vw;
  }
}
@media (max-width: 400px) {
  .hamburger__anchors-content a {
    font-size: 2.75rem;
  }
}
.article__loader-outer {
  background-color: rgb(0, 0, 0);
  z-index: 700;
  position: fixed;
  height: 100vh;
  width: 100vw;
  max-width: 100vw;
}

.loader {
  display: flex;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 800;
}
.loader .dot {
  position: relative;
  width: 2em;
  height: 2em;
  margin: 0.8em;
  border-radius: 50%;
}
.loader .dot::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background: inherit;
  border-radius: inherit;
  animation: wave 2s ease-out infinite;
}
.loader .dot:nth-child(1) {
  background: #7ef9ff;
}
.loader .dot:nth-child(1)::before {
  animation-delay: 0.2s;
}
.loader .dot:nth-child(2) {
  background: #31ba93;
}
.loader .dot:nth-child(2)::before {
  animation-delay: 0.4s;
}
.loader .dot:nth-child(3) {
  background: #518e5a;
}
.loader .dot:nth-child(3)::before {
  animation-delay: 0.6s;
}
.loader .dot:nth-child(4) {
  background: #44a193;
}
.loader .dot:nth-child(4)::before {
  animation-delay: 0.8s;
}
.loader .dot:nth-child(5) {
  background: #8fd484;
}
.loader .dot:nth-child(5)::before {
  animation-delay: 1s;
}

@keyframes wave {
  50%, 75% {
    transform: scale(2.5);
  }
  80%, 100% {
    opacity: 0;
  }
}
.heading__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80vw;
  margin: 0 auto;
}
.heading__container h1 {
  color: rgb(29, 29, 29);
  font-family: "BIZ UDPMincho", serif;
  font-size: 4rem;
  font-weight: 600;
  line-height: 1.3;
  z-index: 2;
  text-align: center;
}
.heading__container p {
  font-family: "Montserrat", sans-serif;
  font-size: 2.2rem;
  margin: 3rem 0;
  z-index: 2;
  text-align: center;
}

@media (max-width: 800px) {
  .heading__container h1 {
    font-size: 3rem;
  }
  .heading__container p {
    font-size: 1.75rem;
  }
}
@media (max-width: 550px) {
  .heading__container h1 {
    font-size: 2.25rem;
  }
  .heading__container p {
    font-size: 1.25rem;
  }
}
#about {
  padding-top: 15rem;
  padding-bottom: 5rem;
  text-align: center;
  text-align: center;
  justify-content: center;
  align-items: center;
  max-width: 100vw;
}

@media (max-width: 755px) {
  #about {
    padding-top: 7.5rem;
    padding-bottom: 0rem;
  }
}
/* About Section */
.icon__container {
  display: flex;
  justify-content: center;
  width: 100vw;
  padding-top: 14rem;
  padding-bottom: 5rem;
}
.icon__container-item:nth-child(2) {
  margin: 0 4rem;
}
.icon__container-item h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 2.2rem;
  font-weight: 600;
  margin-bottom: 2rem;
  margin-top: 4rem;
}
.icon__container-item p {
  width: 40rem;
  font-size: 1.5rem;
  font-family: "BIZ UDPMincho", serif;
  line-height: 1.8;
}

#media-icon {
  fill: rgb(29, 64, 25);
}

.option__icon {
  height: 100px;
  width: auto;
}

.icon__container-item-bottom {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
}
.icon__container-item-bottom h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 2.2rem;
  font-weight: 600;
  margin-bottom: 2rem;
  margin-top: 4rem;
}
.icon__container-item-bottom p {
  width: 40rem;
  font-size: 1.5rem;
  font-family: "BIZ UDPMincho", serif;
  line-height: 1.8;
}

.hide-icon {
  display: none;
}

@media (max-width: 1350px) {
  .icon__container-item:nth-child(2) {
    margin: 0 6rem;
  }

  .icon__container-item p {
    width: 35rem;
  }
}
@media (max-width: 1200px) {
  .icon__container-item:nth-child(2) {
    margin: 0 4.5rem;
  }

  .icon__container-item p {
    width: 30rem;
    font-size: 1.3rem;
  }
}
@media (max-width: 1250px) {
  .icon__container-item:nth-child(2) {
    display: none;
  }

  .hide-icon {
    display: block;
  }

  .icon__container-item-bottom p {
    width: 30rem;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    font-size: 1.3rem;
  }

  .icon__container {
    display: flex;
    justify-content: space-evenly;
    padding: 5rem 0;
  }

  .icon__container-item:nth-child(1) {
    margin-right: 8rem;
  }

  .icon__container-item:nth-child(3) {
    margin-left: 8rem;
  }
}
@media (max-width: 800px) {
  .icon__container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: none;
  }
  .icon__container-item {
    margin-bottom: 6rem;
  }
  .icon__container-item p {
    width: 40rem;
    font-size: 1.3rem;
  }
  .icon__container-item:nth-child(2) {
    display: block;
    margin-bottom: 6rem;
  }

  .hide-icon {
    display: none;
  }

  .icon__container-item:nth-child(1) {
    margin-right: 0;
  }

  .icon__container-item:nth-child(3) {
    margin-left: 0;
  }
}
@media (max-width: 675px) {
  .icon__container-item p {
    width: 40rem;
    font-size: 1.3rem;
  }

  .media__icon {
    width: 80px;
  }
}
@media (max-width: 525px) {
  .icon__container-item p {
    width: 35rem;
    font-size: 1.3rem;
  }
}
@media (max-width: 450px) {
  .icon__container-item p {
    width: 32rem;
    font-size: 1.3rem;
  }
}
#options {
  position: relative;
  width: 100vw;
  max-width: 100vw;
  overflow-x: hidden;
}

.color--overlay {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  background-color: #a9e6ad;
  height: 100vh;
  width: 100vw;
  clip-path: circle(450px at 350px 675px);
}

/* Portfolio Options */
.option {
  margin-top: 5rem;
  border-radius: 40px;
  box-shadow: 0px 0px 10px 0px rgba(76, 76, 76, 0.566);
  padding: 8rem 7rem;
  background-color: #eee;
  position: relative;
  z-index: 2;
}
.option:nth-child(1) {
  width: 50vw;
  margin-right: 2.2rem;
}
.option:nth-child(2) {
  width: 40vw;
  margin-left: 2.2rem;
}
.option h6 {
  text-align: left;
  font-family: "Source Sans Pro", sans-serif;
  letter-spacing: 3px;
  color: rgb(104, 228, 90);
  font-size: 2rem;
}
.option h5 {
  color: black;
  font-family: "BIZ UDPMincho", serif;
  font-size: 4rem;
  margin-bottom: 2rem;
  text-align: left;
  white-space: nowrap;
}
.option p {
  color: black;
  font-family: "Montserrat", sans-serif;
  font-size: 2rem;
  line-height: 1.8;
  text-align: left;
  width: 100%;
}
.option p span {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 2.5rem;
}

.example__link {
  text-align: left;
  margin-top: 4rem;
  z-index: 5;
}
.example__link a {
  font-family: "Montserrat", sans-serif;
  color: rgb(50, 50, 50);
  font-size: 2rem;
  text-decoration: none;
  border: 1px solid rgb(70, 70, 70);
  padding: 1rem 1rem;
  border-radius: 2px;
  margin-right: 3rem;
  transition: all 0.5s;
}
.example__link a:hover {
  cursor: pointer;
  background-color: rgba(169, 230, 173, 0.2823529412);
  border-radius: 5px;
}

.options__container {
  display: flex;
  justify-content: center;
  width: 100vw;
}

#bold {
  font-style: italic;
  font-weight: 500;
}

@media (max-width: 1225px) {
  .option {
    padding: 4rem 4rem;
  }
}
@media (max-width: 1125px) {
  .option h5 {
    font-size: 3rem;
  }

  .option--content p {
    font-size: 1.7rem;
  }
}
@media (max-width: 1000px) {
  .options__container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .option:nth-child(1) {
    width: 80vw;
    margin-right: 0;
    margin-bottom: 2.5em;
  }
  .option:nth-child(2) {
    width: 80vw;
    margin-left: 0;
    margin-top: 2.5rem;
  }
}
@media (max-width: 660px) {
  .option h5 {
    font-size: 3rem;
  }
}
@media (max-width: 550px) {
  .example__link a {
    font-size: 1.75rem;
    padding: 0.75rem 0.75rem;
  }
  .example__link a:nth-child(1) {
    margin-right: 1.5rem;
  }
  .example__link a:nth-child(2) {
    margin-right: 0rem;
  }
}
@media (max-width: 475px) {
  .example__link {
    text-align: center;
  }
}
@media (max-width: 440px) {
  .option {
    padding: 4rem 2rem;
  }
}
@media (max-width: 410px) {
  .option h5 {
    font-size: 2.7rem;
  }
}
@media (max-width: 400px) {
  .example__link a {
    font-size: 1.5rem;
    padding: 0.5rem 0.5rem;
  }
}
@media (max-width: 370px) {
  .option h5 {
    font-size: 2.2rem;
  }

  .option--content p {
    font-size: 1.4rem;
  }
}
@media (max-width: 325px) {
  .example__link a {
    font-size: 1.25rem;
    padding: 0.25rem 0.25rem;
  }

  #bold {
    font-size: 1.25rem;
  }
}
@media (max-width: 300px) {
  .option h5 {
    font-size: 2rem;
  }
  .option h6 {
    font-size: 1.75rem;
  }

  .option--content p {
    font-size: 1.4rem;
  }
}
#domain {
  position: relative;
  max-width: 100vw;
}

.solution {
  padding: 3rem 5rem;
  box-shadow: 0px 0px 10px 0px rgba(76, 76, 76, 0.566);
  border-radius: 40px;
  width: 85vw;
  margin: 5rem auto;
  margin-bottom: 0rem;
  z-index: 20;
  position: relative;
  background-color: rgb(245, 245, 245);
}
.solution h5 {
  color: black;
  font-family: "BIZ UDPMincho", serif;
  font-size: 3.5rem;
  margin-bottom: 2rem;
  text-align: left;
  white-space: nowrap;
  margin-top: 1.5rem;
}
.solution ul {
  text-align: left;
  padding: 0 1.2rem;
}
.solution ul li {
  font-family: "Montserrat", sans-serif;
  font-size: 1.5rem;
  margin-top: 1rem;
}

#domain-alert {
  font-family: "Roboto", sans-serif;
  font-size: 1.3rem;
  margin-top: 2.5rem;
  font-weight: 700;
}

#sub-description {
  text-align: left;
  font-family: "Source Sans Pro", sans-serif;
  letter-spacing: 3px;
  color: rgb(104, 228, 90);
  font-size: 2rem;
}

.color--overlay--2 {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  background-color: rgb(195, 234, 211);
  height: 100vh;
  width: 100vw;
  clip-path: circle(250px at 70% 65%);
}

@media (max-width: 700px) {
  .solution {
    padding: 3rem 3rem;
  }
  .solution h5 {
    font-size: 3rem;
  }
  .solution ul li {
    font-size: 1.25rem;
  }
}
@media (max-width: 575px) {
  .solution {
    padding: 3rem 1.5rem;
  }
  .solution h5 {
    font-size: 2.5rem;
  }
  .solution ul li {
    font-size: 1.25rem;
  }

  #sub-description {
    font-size: 1.5rem;
  }
}
@media (max-width: 575px) {
  .solution h5 {
    font-size: 2rem;
  }
}
/* Domain section */
.domain {
  display: flex;
  justify-content: space-around;
  margin-top: 6rem;
  z-index: 5;
  position: relative;
}
.domain__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 30rem;
}
.domain__item p {
  width: 40rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  font-size: 1.5rem;
  text-align: center;
}

.domain__icon {
  width: 60px;
  fill: rgb(29, 64, 25);
  height: 40px;
}

.domain--header {
  font-family: "Roboto", sans-serif;
  color: rgb(29, 64, 25);
  font-size: 2rem;
  font-weight: 400;
  margin: 2rem 0;
}

@media (max-width: 950px) {
  .domain__item p {
    width: 30rem;
  }
}
@media (max-width: 800px) {
  .domain {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .domain__item:nth-child(1) {
    margin-bottom: 4.5rem;
  }
  .domain__item p {
    width: 40rem;
  }
}
@media (max-width: 525px) {
  .domain__item p {
    width: 35rem;
  }
}
@media (max-width: 450px) {
  .domain__item p {
    width: 32rem;
    font-size: 1.3rem;
  }
}
#steps {
  padding-left: 3rem;
  padding-right: 3rem;
  max-width: 100vw;
}

.steps__content {
  display: flex;
  justify-content: space-evenly;
  margin-top: 5rem;
}
.steps__content:nth-child(3) {
  flex-direction: row-reverse;
}

#steps-image {
  height: 45rem;
  width: 45rem;
}

.step {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 5rem;
}
.step-index {
  font-size: 7rem;
  align-self: stretch;
  margin-right: 3rem;
}
.step-index h2 {
  font-size: 10rem;
}

.steps__container {
  padding-left: 4rem;
}
.steps__container:nth-child(3) {
  padding-right: 4rem;
}

.step-content {
  display: flex;
  flex-direction: column;
}
.step-content h2 {
  font-size: 4.5rem;
}
.step-content p {
  font-size: 2rem;
  width: 40rem;
}

@media (max-width: 1075px) {
  #steps-image {
    height: 40rem;
    width: 40rem;
  }

  .step-content p {
    width: 35vw;
  }
}
@media (max-width: 950px) {
  #steps-image {
    height: 35rem;
    width: 35rem;
  }

  .step-index h2 {
    font-size: 7.5rem;
  }

  .step-content h2 {
    font-size: 3rem;
  }
  .step-content p {
    font-size: 1.75rem;
  }
}
@media (max-width: 800px) {
  #steps-image {
    height: 30rem;
    width: 30rem;
  }

  .step-index h2 {
    font-size: 6rem;
  }

  .step-content h2 {
    font-size: 2.5rem;
  }
  .step-content p {
    font-size: 1.5rem;
  }
}
@media (max-width: 675px) {
  .step-content h2 {
    font-size: 2.5rem;
  }
  .step-content p {
    font-size: 1.5rem;
    width: 30vw;
  }
}
@media (max-width: 650px) {
  #steps-image {
    display: none;
  }

  .steps__content {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 5rem;
  }
  .steps__content:nth-child(3) {
    flex-direction: column-reverse;
    align-items: center;
  }

  .steps__container {
    padding-left: 0rem;
  }
  .steps__container:nth-child(3) {
    padding-right: 0rem;
  }

  .step-content p {
    font-size: 1.5rem;
    width: 100%;
  }

  .steps__content:nth-child(3) {
    margin-top: 0rem;
  }
}
@media (max-width: 425px) {
  .step-index h2 {
    font-size: 4.5rem;
  }

  .step-content h2 {
    font-size: 2rem;
  }
  .step-content p {
    font-size: 1.25rem;
  }
}
#payments {
  max-width: 100vw;
  overflow-x: hidden;
  position: relative;
}

.price__container {
  display: flex;
  justify-content: space-around;
  width: 75vw;
  margin: 0 auto;
  padding-top: 2rem;
}
.price__container-item {
  width: 30rem;
  background-color: white;
  box-shadow: 0px 0px 10px 0px rgba(76, 76, 76, 0.566);
  border-radius: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 5rem;
  padding-bottom: 5rem;
  z-index: 3;
}
.price__container-item h2 {
  font-size: 2.5rem;
  margin-top: 2rem;
}
.price__container-item h1 {
  font-size: 2rem;
  padding-top: 1rem;
  padding-bottom: 2.5rem;
}
.price__container-item img {
  height: 15rem;
  width: 15rem;
}
.price__container-item ul {
  align-self: flex-start;
  list-style: none;
  padding-left: 2rem;
}
.price__container-item ul li {
  font-size: 1.75rem;
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
}
.price__container-item ul li:nth-child(4) {
  margin-bottom: 0;
}

.checkmark {
  width: 20px;
  height: 20px;
  margin-right: 10px;
  fill: green;
}

#payment {
  width: 100vw;
  padding-top: 8rem;
}
#payment h1 {
  font-family: "BIZ UDPMincho", serif;
  letter-spacing: 1.5px;
  text-align: center;
  font-size: 1.5rem;
  color: #01443e;
}

.payment__container {
  display: flex;
  justify-content: center;
  margin-top: 3rem;
}

.icon {
  width: 75px;
  height: 75px;
  margin-right: 10rem;
}

.icon:nth-child(4) {
  margin-right: 0rem;
}

.color--overlay--3 {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  background-color: rgb(214, 242, 226);
  height: 100vh;
  width: 100vw;
  clip-path: circle(300px at 30% 35%);
}

@media (max-width: 900px) {
  .price__container {
    width: 100vw;
  }
}
@media (max-width: 700px) {
  .icon {
    width: 65px;
    height: 65px;
    margin-right: 8rem;
  }

  .icon:nth-child(4) {
    margin-right: 2rem;
  }

  .price__container {
    flex-direction: column;
    align-items: center;
  }
  .price__container-item:nth-child(1) {
    margin-bottom: 1.5rem;
  }
  .price__container-item:nth-child(2) {
    margin-top: 1.5rem;
  }

  .price__container-item img {
    height: 10rem;
    width: 10rem;
  }
}
@media (max-width: 600px) {
  .icon {
    width: 50px;
    height: 50px;
    margin-right: 6rem;
  }
}
@media (max-width: 450px) {
  #payment h1 {
    font-size: 1.25rem;
  }

  .icon {
    width: 40px;
    height: 40px;
    margin-right: 4rem;
  }
}
@media (max-width: 400px) {
  .price__container-item {
    width: 75vw;
  }
}
@media (max-width: 350px) {
  #payment h1 {
    font-size: 0.9rem;
  }

  .icon {
    width: 30px;
    height: 30px;
    margin-right: 4rem;
  }
}
@media (max-width: 325px) {
  .price__container-item ul li {
    font-size: 1.5rem;
  }

  .checkmark {
    width: 15px;
    height: 15px;
  }
}
@media (max-width: 290px) {
  #payment h1 {
    font-size: 0.8rem;
  }

  .icon {
    width: 25px;
    height: 25px;
    margin-right: 3.5rem;
  }
}
/* footer */
.footer {
  padding: 5rem 0;
  background-color: #023430;
  -webkit-clip-path: inset(10px round 80px 20px 30px 10px);
  clip-path: inset(0px round 120px 120px 0px 0px);
  position: relative;
  max-width: 100vw;
}

.footer__container {
  display: flex;
  justify-content: space-evenly;
}

#footer--image {
  height: 45rem;
  width: 45rem;
}

.footer__heading {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

footer h2 {
  font-family: "BIZ UDPMincho", serif;
  font-size: 4.5rem;
  margin-bottom: 3rem;
  color: #eee;
}

footer h3 {
  font-family: "Montserrat", sans-serif;
  font-size: 1.4rem;
  margin-bottom: 3rem;
  color: #eee;
}

.anchor__bin {
  display: flex;
  justify-content: flex-start;
}

#contact--btn {
  width: 15rem;
  cursor: pointer;
  padding: 1.3rem 1rem;
  background-color: #48a65b;
  transition: all 0.5s;
  color: #eee;
  font-size: 1.7rem;
  text-align: center;
  border: none;
  text-decoration: none;
}

#contact--btn:hover {
  border-radius: 20px;
}

#copyright {
  position: absolute;
  bottom: 4%;
  left: 15%;
  font-family: "Source Sans Pro", sans-serif;
  color: #eee;
  font-size: 1.5rem;
}

@media (hover: hover) {
  #contact--btn:hover {
    border-radius: 20px;
  }
}
@media (max-width: 1125px) {
  #footer--image {
    height: 40rem;
    width: 40rem;
  }

  footer h2 {
    font-size: 4rem;
  }

  footer h3 {
    font-size: 1.2rem;
  }
}
@media (max-width: 1025px) {
  .footer {
    -webkit-clip-path: inset(0px round 0px 0px 0px 0px);
    clip-path: inset(0px round 0px 0px 0px 0px);
  }

  #footer--image {
    height: 35vh;
    width: 35vw;
  }

  footer h2 {
    font-size: 3.5rem;
  }
}
@media (max-width: 750px) {
  .footer__container {
    flex-direction: column;
    align-items: center;
  }

  #footer--image {
    height: 40rem;
    width: 40rem;
  }

  #contact--btn {
    margin: 0 auto;
  }

  footer h3 {
    text-align: center;
  }
}
@media (max-width: 575px) {
  footer h2 {
    font-size: 2.75rem;
  }

  #footer--image {
    height: 30rem;
    width: 30rem;
  }
}
@media (max-width: 475px) {
  footer h2 {
    font-size: 2.75rem;
  }
}
#updates {
  position: relative;
  max-width: 100vw;
}

.update__content {
  position: relative;
  width: 62.5vw;
  border-radius: 40px;
  box-shadow: 0px 0px 10px 0px rgba(76, 76, 76, 0.566);
  background-color: white;
  padding-left: 30rem;
  margin: 10rem auto;
  margin-bottom: 0rem;
  margin-left: 26%;
  padding-top: 10rem;
  padding-bottom: 10rem;
}
.update__content h3 {
  font-family: "BIZ UDPMincho", serif;
  font-size: 3rem;
  font-weight: 600;
  color: rgb(104, 228, 90);
  margin-bottom: 3rem;
}
.update__content h2 {
  font-size: 2.8rem;
  color: rgb(80, 80, 80);
}
.update__content p {
  font-size: 2rem;
  width: 35vw;
  line-height: 1.4;
  padding-right: 2rem;
}
.update__content img {
  position: absolute;
  top: -25%;
  left: -30%;
  height: 50rem;
  width: 50rem;
}

@media (max-width: 1200px) {
  .update__content {
    padding-left: 25rem;
  }
  .update__content img {
    height: 45rem;
    width: 45rem;
    top: -20%;
  }
}
@media (max-width: 1100px) {
  .update__content {
    padding-left: 5rem;
    width: 75vw;
    margin-left: 16%;
    padding-top: 13rem;
  }
  .update__content h3 {
    padding-left: 22.5rem;
  }
  .update__content p {
    font-size: 2rem;
    width: 65vw;
    line-height: 1.4;
    padding-right: 1rem;
  }
  .update__content img {
    height: 32.5rem;
    width: 32.5rem;
    top: -22.5%;
    left: -10%;
  }
}
@media (max-width: 675px) {
  .update__content {
    margin-top: 15rem;
    padding-top: 10rem;
  }
  .update__content p {
    width: 60vw;
  }
  .update__content h3 {
    padding-left: 0rem;
  }
  .update__content img {
    height: 25rem;
    width: 25rem;
    top: -25%;
    left: -10%;
  }
}
@media (max-width: 550px) {
  .update__content {
    padding-left: 2.5rem;
    margin-top: 10rem;
  }
  .update__content h3 {
    font-size: 2.5rem;
  }
  .update__content p {
    font-size: 1.75rem;
    width: 67.5vw;
  }
  .update__content img {
    height: 20rem;
    width: 20rem;
    top: -17.5%;
    left: -10%;
  }
}
@media (max-width: 400px) {
  .update__content h3 {
    font-size: 2rem;
  }
  .update__content p {
    font-size: 1.5rem;
    width: 67.5vw;
    padding-right: 2rem;
  }
  .update__content img {
    height: 20rem;
    width: 20rem;
    top: -17.5%;
    left: -10%;
  }
}
/* contact form */
#contact {
  padding-top: 15rem;
  margin-bottom: 10rem;
  max-width: 100vw;
}

.contact__form {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 40px;
}
.contact__form h1 {
  font-family: "Montserrat", serif;
  font-size: 6rem;
  font-weight: 400;
  text-align: center;
  color: black;
}
.contact__form p {
  font-size: 1.2rem;
  text-align: center;
  margin-bottom: 3rem;
}
.contact__form span {
  margin-bottom: 2rem;
  width: 80rem;
  display: flex;
  justify-content: space-between;
}
.contact__form span input {
  width: 38rem;
  height: 4rem;
  text-indent: 15px;
}
.contact__form textarea {
  width: 80rem;
  margin: 0 auto;
  margin-top: 3rem;
  text-indent: 5px;
}
.contact__form button {
  margin: 2rem auto;
  border: 2px solid rgb(105, 105, 105);
  cursor: pointer;
  padding: 1rem 7rem;
  color: black;
  background-color: #9de1cd;
  transition: all 0.5s;
}

.labeled-input {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

label {
  font-family: "Montserrat", serif;
  font-size: 2rem;
  margin-right: 3rem;
  margin-bottom: 3px;
}

select {
  width: 38rem;
  height: 4rem;
  border-radius: none;
}

@media (hover: hover) {
  .contact__form button:hover {
    border-radius: 20px;
  }
}
@media (max-width: 900px) {
  .contact__form span {
    width: 80vw;
  }
  .contact__form span input {
    width: 37.5vw;
  }
  .contact__form textarea {
    width: 80vw;
  }

  select {
    width: 37.5vw;
  }
}
@media (max-width: 700px) {
  label {
    font-size: 1.75rem;
  }
}
@media (max-width: 550px) {
  #contact {
    padding-top: 7.5rem;
  }

  .contact__form {
    padding-top: 5rem;
  }
  .contact__form span {
    flex-direction: column;
    margin-bottom: 0rem;
  }
  .contact__form span input {
    width: 80vw;
    margin-bottom: 1.5rem;
  }
  .contact__form button {
    padding: 1rem 4rem;
  }

  select {
    width: 80vw;
  }
}
@media (max-width: 400px) {
  .contact__form h1 {
    font-size: 4.5rem;
  }

  label {
    font-size: 1.5rem;
  }
}
#in-left {
  opacity: 0;
  transition: all 1s;
  transform: translateX(-20%);
  z-index: 2;
}

#in-right {
  opacity: 0;
  transition: all 1s;
  transform: translateX(20%);
  z-index: 2;
}

.merge {
  opacity: 1;
  transform: translateX(0);
  transition: all 1s;
  z-index: 2;
}

.flip {
  opacity: 0;
  transition: 1s;
  transform: rotateY(180deg);
}

.flip-reverse {
  opacity: 1;
  transition: 1s;
  transform: rotateY(-180deg);
}

.hide-element {
  opacity: 0;
  transition: 1.5s;
  z-index: 5;
}

.appear {
  opacity: 1;
}

.small {
  opacity: 0;
  transform: scale(0.8);
  transition: 1.5s;
}

.scale {
  opacity: 1;
  transform: scale(1);
}

.loading__container {
  height: 100vh;
  width: 100vw;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.9);
  z-index: 10000;
}

.loading {
  position: relative;
  width: 8rem;
  height: 8rem;
  transform-style: preserve-3d;
  perspective: 800px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 200000;
}
.loading .arc {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border-bottom: 3px solid rgb(59, 170, 107);
}
.loading .arc:nth-child(1) {
  animation: rotate1 1.15s linear infinite;
}
.loading .arc:nth-child(2) {
  animation: rotate2 1.15s linear infinite;
}
.loading .arc:nth-child(3) {
  animation: rotate3 1.15s linear infinite;
}
.loading .arc:nth-child(1) {
  animation-delay: -0.8s;
}
.loading .arc:nth-child(2) {
  animation-delay: -0.4s;
}
.loading .arc:nth-child(3) {
  animation-delay: 0s;
}

.hide-load {
  display: none;
}

@keyframes rotate1 {
  from {
    transform: rotateX(35deg) rotateY(-45deg) rotateZ(0);
  }
  to {
    transform: rotateX(35deg) rotateY(-45deg) rotateZ(1turn);
  }
}
@keyframes rotate2 {
  from {
    transform: rotateX(50deg) rotateY(10deg) rotateZ(0);
  }
  to {
    transform: rotateX(50deg) rotateY(10deg) rotateZ(1turn);
  }
}
@keyframes rotate3 {
  from {
    transform: rotateX(35deg) rotateY(55deg) rotateZ(0);
  }
  to {
    transform: rotateX(35deg) rotateY(55deg) rotateZ(1turn);
  }
}

/*# sourceMappingURL=style.css.map */
