.hamburger__anchors {
    width: 55vw;
    height: 100vh;
    background-color: #374742;
    padding: 2rem 5rem;
    animation: grow 0.25s linear;
    z-index: 420;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 499;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    & h1 {
        font-family: 'Source Sans Pro', sans-serif;
        color: #eee;
        font-size: 1.5rem;
    }

    &-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        justify-content: space-around;
        height: 75vh;
        padding-top: 15rem;

        & a {
            text-decoration: none;
            font-size: 4rem;
            color: rgb(227, 227, 227);

            &:hover {
                color: #c2d0cb;
            }
        }

        & hr {
            width: 100%;
        }
    }

}

.anchor__container {
    display: flex;
    flex-direction: column;
    align-items: center;

    & h1 {
        color: #9de1cd;
        font-size: 2.25rem;
    }
}

.hidden-menu {
    display: none;
    transform: translateX(-100%);
    transition: all 1s;

}

.unhide-menu {
    opacity: 1;
    transform: translateX(0);
    transition: all 1s;

}

@media (max-width: 550px) {
    .hamburger__anchors-content {
        padding-top: 10rem;
    }
}

@media (max-width: 500px) {
    .hamburger__anchors-content a {
        font-size: 3rem;
    }
}

@media (max-width: 450px) {
    .hamburger__anchors {
        width: 100vw;
    }
}

@media (max-width: 400px) {
    .hamburger__anchors-content a {
        font-size: 2.75rem;
    }
}