#payments {
    max-width: 100vw;
    overflow-x: hidden;
}

.price__container {
    display: flex;
    justify-content: space-around;
    width: 75vw;
    margin: 0 auto;
    padding-top: 2rem;

    &-item {
        width: 30rem;
        background-color: white;
        box-shadow: 0px 0px 10px 0px rgba(76, 76, 76, 0.566);
        border-radius: 2rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 5rem;
        padding-bottom: 5rem;

        & h2 {
            font-size: 2.5rem;
            margin-top: 2rem;
        }

        & h1 {
            font-size: 2rem;
            padding-top: 1rem;
            padding-bottom: 2.5rem;
        }

        & img {
            height: 15rem;
            width: 15rem;
        }

        & ul {
            align-self: flex-start;
            list-style: none;
            padding-left: 2rem;

            & li {
                font-size: 1.75rem;
                margin-bottom: 1rem;
                display: flex;
                align-items: center;

                &:nth-child(4) {
                    margin-bottom: 0;
                }

            }

        }
    }
}

.checkmark {
    width: 20px;
    height: 20px;
    margin-right: 10px;
    fill: green;
}

// Payment icons styling
#payment {
    width: 100vw;
    padding-top: 8rem;

    & h1 {
        font-family: 'BIZ UDPMincho', serif;
        letter-spacing: 1.5px;
        text-align: center;
        font-size: 1.5rem;
        color: #01443e;
    }
}

.payment__container {
    display: flex;
    justify-content: center;
    margin-top: 3rem;
}
  
.icon {
    width: 75px;
    height: 75px;
    margin-right: 10rem;
}
  
.icon:nth-child(4) {
    margin-right: 0rem;
}
  


@media (max-width: 900px) {
    .price__container {
        width: 100vw;
    }
}

@media (max-width: 700px) {
    .icon {
        width: 65px;
        height: 65px;
        margin-right: 8rem;
    }

    .icon:nth-child(4) {
        margin-right: 2rem;
    }

    .price__container {
        flex-direction: column;
        align-items: center;

        &-item {
            &:nth-child(1) {
                margin-bottom: 1.5rem;
            }

            &:nth-child(2) {
                margin-top: 1.5rem;
            }
        }
    }

    .price__container-item img {
        height: 10rem;
        width: 10rem;
    }
}

@media (max-width: 600px) {
    .icon {
        width: 50px;
        height: 50px;
        margin-right: 6rem;
    }

}

@media (max-width: 450px) {
    #payment {    
        & h1 {
            font-size: 1.25rem;
        }
    }
    .icon {
        width: 40px;
        height: 40px;
        margin-right: 4rem;
    }
}

@media (max-width: 400px) {
    .price__container-item {
        width: 75vw;
    }

}

@media (max-width: 350px) {
    #payment {    
        & h1 {
            font-size: .9rem;
        }
    }
    .icon {
        width: 30px;
        height: 30px;
        margin-right: 4rem;
    }

}

@media (max-width: 325px) {
    .price__container-item {

        & ul li {
            font-size: 1.5rem;
        }
    }

    .checkmark {
        width: 15px;
        height: 15px;
    }
}

@media (max-width: 290px) {
    #payment {    
        & h1 {
            font-size: .8rem;
        }
    }
    .icon {
        width: 25px;
        height: 25px;
        margin-right: 3.5rem;
    }

}