<section id="about">
    <div class="heading__container">
        <h1>Ditch the paper resume and show employers you mean business</h1>
        <p id="mission">
            We turn your resume into your own personal website
        </p>
    </div>
    {{>aboutIcons}}
</section>