<section class="section" id="domain">
    <div class="heading__container">
      <h1>Adding a custom domain to your website</h1>
      <p id="mission">
        A domain is what comes after the "www." in a URL
      </p>
    </div>
    <div class="color--overlay--2"></div>
    {{>domainItem}}
    <div class="hide-element solution" data-id="hidden-element">
        <h6 id="sub-description">Solution</h6>
        <h5 class="solution-head">Custom domain package</h5>
        <ul>
          <li>Choose a domain and our team will check if it's available</li>
          <li>We will then incorporate the custom domain into your website URL</li>
          <li>The custom domain add-on costs an additional $25</li>
        </ul>
    </div>
</section>