<footer class="footer">
    <div class="footer__container">
        <div class="footer__heading">
            <h2>Ready to get started?</h2>
            <h3>Fill out the form and we will get back with you!</h3>
            <div class="anchor__bin">
            <a href="/contact" id="contact--btn">Contact</a>
            </div>
        </div>
        <div class="footer__image">
            <img src="/img/contact-image2.png" alt="" id="footer--image">
        </div>
    </div>
    <p id="copyright">&#169; Websume.net</p>
</footer>