<header>
    <div class="header__container">
        <div class="header__container-content">
            <h1>Stand out.</h1>
            <h1>Shine online.</h1>
            <p> 
                Make yourself stand out to employers by owning an eye-catching, online resume. 
                Include pictures and other detailed information to better display projects in order 
                for employers to get a better understanding who you are and the work you have done.
                If you want to seperate yourself from the competition in the workforce, start here. 
            </p>
        </div>
        <div>
            <img src="./img/head11.png" alt="" id="landing--image">  
        </div>
    </div>
</header>