<section class="section" id="options">
    <div class="heading__container">
        <h1>Take a look at the products we offer</h1>
        <p id="mission">
            We will accommodate any changes or additions you may want to the examples below
        </p>
    </div>
    <div class="color--overlay"></div>
    <div class="options__container">
        {{>resumeOptions}}
    </div>
</section>