<section id="payment">
    <h1 class="small" data-id="scaler">Payment methods we accept</h1>
    <div class="payment__container">
        <svg class="small icon" data-id="scaler">
            <use xlink:href="/img/sprite2.svg#icon-applepay" ></use>
        </svg>
        <svg class="small icon" data-id="scaler">
            <use xlink:href="/img/sprite2.svg#icon-paypal"></use>
        </svg>
        <svg class="small icon" data-id="scaler">
            <use xlink:href="/img/sprite2.svg#icon-venmo"></use>
        </svg>
        <svg class="small icon" data-id="scaler">
            <use xlink:href="/img/sprite2.svg#icon-cashapp"></use>
        </svg>
    </div>
</section>