<section class="section" id="payments">
    <div class="heading__container">
        <h1>Paying for your websume made safe and easy</h1>
        <p id="mission">
            No need to enter your credit card information
        </p>
    </div>
    <div class="price__container">
      <div class="price__container-item" id="in-left" data-id="slider">
        <img src="./img/design-thinking.png" alt="">
        <h2>Single Page</h2>
        <h1>$100</h1>
        <ul>
          <li>
            <span>
              <svg class="checkmark">
                <use xlink:href="./img/sprite2.svg#icon-checkmark"></use>
              </svg>
            </span> 
            Contact page
          </li>
          <li>
            <span>
              <svg class="checkmark">
                <use xlink:href="./img/sprite2.svg#icon-checkmark"></use>
              </svg>
            </span> 
            One free update/month
          </li>
          <li>
            <span>
              <svg class="checkmark">
                <use xlink:href="./img/sprite2.svg#icon-checkmark"></use>
              </svg>
            </span> 
            Fully customizable
          </li>
        </ul>
      </div>
      <div class="price__container-item" id="in-right" data-id="slider">
        <img src="./img/feature.png" alt="">
        <h2>Landing Page</h2>
        <h1>$125</h1>
        <ul>
          <li>
            <span>
              <svg class="checkmark">
                <use xlink:href="./img/sprite2.svg#icon-checkmark"></use>
              </svg>
            </span> 
            Landing page
          </li>
          <li>
            <span>
              <svg class="checkmark">
                <use xlink:href="./img/sprite2.svg#icon-checkmark"></use>
              </svg>
            </span> 
            Contact page
          </li>
          <li>
            <span>
              <svg class="checkmark">
                <use xlink:href="./img/sprite2.svg#icon-checkmark"></use>
              </svg>
            </span> 
            One free update/month
          </li>
          <li>
            <span>
              <svg class="checkmark">
                <use xlink:href="./img/sprite2.svg#icon-checkmark"></use>
              </svg>
            </span> 
            Fully customizable
          </li>
        </ul>
      </div>
    </div>
    <section id="payment">
      <h1 class="small" data-id="scaler">Payment methods we accept</h1>
      <div class="payment__container">
          <svg class="small icon" data-id="scaler">
              <use xlink:href="/img/sprite2.svg#icon-applepay" ></use>
          </svg>
          <svg class="small icon" data-id="scaler">
              <use xlink:href="/img/sprite2.svg#icon-paypal"></use>
          </svg>
          <svg class="small icon" data-id="scaler">
              <use xlink:href="/img/sprite2.svg#icon-venmo"></use>
          </svg>
          <svg class="small icon" data-id="scaler">
              <use xlink:href="/img/sprite2.svg#icon-cashapp"></use>
          </svg>
      </div>
    </section>
</section>