<section class="section" id="steps">
    <div class="heading__container">
      <h1>Follow these steps to get your websume</h1>
      <p id="mission">
        Our mission is to help you set yourself apart from people in the workforce
      </p>
    </div>
    <div class="steps__content">
        <div class="steps__container">
          {{>stepIndex}}
        </div>
        <div class="image__container">
          <img src="/img/steps-3.png" alt="" id="steps-image">
        </div>
    </div>
    <div class="steps__content">
      <div class="steps__container">
        {{>finalSteps}}
      </div>
      <div class="image__container">
        <img src="/img/payment.png" alt="" id="steps-image">
      </div>
    </div>
</section>