<section class="section" id="updates">
    <div class="heading__container">
      <h1>How to update your websume</h1>
      <p id="mission">We strive to ensure your websume contains relevant information</p>
    </div>
    <div class="hide-element update__content">
        <img src="./img/img1.png" alt="">
        <h3>Site updates</h3>
        <p>We want you to be happy with your site and the appearance of it. It is important to us
            that your site always stays up-to-date with accurate work experience and other information.
            <br>
            <br>
            <br>
            <span>&#8226; We provide you with one free update per month</span> 
            <br>
            <span>&#8226; All other updates outside of the free one cost $10</span>
            <br>
            <br>
            <br>
            <span>Please email websume.net@gmail.com if you need updates</span>

        </p>
    </div>
</section>
